.container {
  .balanceBox {
    background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #7f2cf7 15px), repeating-linear-gradient(rgba(165, 72, 244, 0.42), rgba(182, 177, 182, 0.25));
    background-color: #7f2cf7;
    padding: 1rem;
    border-radius: 2rem;
    margin: 1rem;
    
    .total {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        h2{
           font-size: 35px;
           background: -webkit-linear-gradient(0deg, #ff8e8e 0%, rgba(255,231,28,0.93) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;
        }
        h3{
            line-height:1rem;
            color: #f1cf34;
            &:hover{
                color: rgb(245, 101, 66);
            }
            
        }
    }
  }

  .formBox {
    display: flex;
    justify-content: center;
    background-color: rgb(122, 90, 172);
    padding: 1rem;
    border-radius: 2rem;
    margin: 1rem;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      .input {
          border-radius: 1rem;
          border: none;
          min-width: 300px;
          height: 30px;
          margin: 0.3rem;
          padding: 0.3rem;
         outline: none;
         border: solid 3px rebeccapurple;

      }
      div{
          display: flex;
          align-items: center;
          input {
            border-radius: 1rem;
            border: none;
            min-width: 20px;
            height: 30px;
            margin: 0.3rem;
            padding: 0.3rem;
           outline: none;
           border: solid 3px rebeccapurple;
          }
          
      }
      button {
          border-radius: 1rem;
          height: 35px;
          width: 60%;
          outline: none;
          border: 3px solid slateblue;
          font-size: large;
          font-family: 'Lato';
          font-weight: 700;
      }
    }
  }
  .detailBox {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(122, 90, 172);
    padding: 1rem;
    border-radius: 2rem;
    margin: 1rem;
    .incomeBox{
        display: flex;
        align-items: center;
        justify-content: center;
        .income {
            width: 80px;
            display: inline;
            h4{margin: 0;}
            h3{
                margin: 0;
            }
        }
       
    }
    .expenseBox{
        display: flex;
        align-items: center;
        justify-content: center;
        .expense{
            width: 80px;
            display: inline;
            h4{margin: 0;}
            h3{
                margin: 0;
            }
        }
        
    }
  }
}
